/.metadata/
.DS_Store
.idea
.out
._*
.mp4
.mkv
.avi
.mov
.flv
.3gp

/Ejemplo1/target/
/Examenes/Parcial_1/hilosAnillo/target/
/Examenes/Parcial_1/exa1/target/
/Ejemplos/SOCKETS/Ejemplo1/target/
/Examenes/Parcial_1/examenfinal/target/
/Practicas/ecoSocketClientServer/target/
/Ejemplos/SOCKETS/FileChooseSomeUDP/nbproject/private/
/Ejemplos/SOCKETS/FileChooseSomeUDP/build/
